<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ql -->
      <package
            uri="http://www.gemoc.org/ql"
            class="org.gemoc.ql.model.ql.QlPackage"
            genModel="model/ql.genmodel"/>
   </extension>

</plugin>
